<div class="row bg-title">
    <!-- .page title -->
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title"><%= txt2 %></h4>
    </div>
    <!-- /.page title -->
    <!-- .breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href="javascript:void(0)"><%= txt1 %></a></li>
            <li class="active"><%= txt2 %></li>
        </ol>
    </div>
    <!-- /.breadcrumb -->
</div>