<%
const ctx = global.config.contextPath + global.config.viewPrefix
        , pageName = "优惠券详情";
let mdiIcon = {};
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/meta.ejs %>
    <% include ../common/public.ejs %>
</head>
<body class="fix-header">
<% include ../common/prload.ejs %>
<div id="wrapper">
    <% include ../common/nav.ejs %>
    <% include ../common/menu.ejs %>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid" style="font-size: 15px;">
            <div class="block4"
                 style="width: 250px;height:250px;text-align: center;margin: 20px auto 10px auto;padding: 18px;">
                <img src="" id="voucherImage" style="width: 100%;height: 100%;vertical-align: top;border-radius: 20px;">
            </div>
            <div class="text-center">
                <button class="btn btn-pizza btn_u" id="con_draw" data-coupon="" data-user="" type="button"
                        style="margin: 10px;">确认领取
                </button>
            </div>
            <div style="padding: 20px;">
                <div><strong>使用须知</strong></div>
                <div style="padding: 0 10px;" id="remark_coupon"></div>
                <p></p>
                <div><strong>适用门店</strong></div>
                <div style="padding: 0 10px;" id="scope_coupon"></div>
            </div>

        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<% include ../common/footer.ejs %>
<script src="<%= global.config.publicPath %>/assets/jsBarCode/JsBarcode.all.js"></script>
</body>
</html>
