<%
const ctx = global.config.contextPath + global.config.viewPrefix,
        txt1 = "会员与营促销", txt2 = "二维码管理", pageName = "我的最爱";
let mdiIcon = {};
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/meta.ejs %>
    <% include ../common/public.ejs %>
    <style>
        .card-block img {
            width: 85%;
            height: 160px;
            margin: auto;
        }

        .level_pro_info {
            position: absolute;
            left: 42px;
            top: 57px;
            font-size: 11px;
        }

        .adv img {
            width: 100%;
        }
    </style>
</head>
<body class="fix-header">
<% include ../common/prload.ejs %>
<div id="wrapper">
    <% include ../common/nav.ejs %>
    <% include ../common/menu.ejs %>
    <!-- Page Content -->
    <%
    const Level = ["","蓝卡","金卡","铂金卡","黑卡","员工卡"];
    %>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div id="myFavor"></div>
        </div>
    </div>
</div>
<% include ../common/bottom.ejs %>
<% include ../common/footer.ejs %>
<script src="<%= global.config.publicPath %>/assets/jsBarCode/JsBarcode.all.js"></script>
</body>
</html>
