<%
const ctx = global.config.contextPath + global.config.viewPrefix
        ,pageName="会员权益";
let mdiIcon = {};
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/meta.ejs %>
    <% include ../common/public.ejs %>
    <style>
        p{
            text-indent: 2rem;
        }
    </style>
</head>
<body class="fix-header">
<% include ../common/prload.ejs %>
<div id="wrapper">
    <% include ../common/nav.ejs %>
    <% include ../common/menu.ejs %>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="rights" style="width: 100%;height: 100%;">
                <div class="top_img">
                    <img src="<%= global.config.publicPath %>/page/images/icon/box_title_bg.png">
                    <span style="position: absolute;left: 32%;top: 12px;">会员等级与权益</span>
                </div>

                <div class="center_img">
                    <p>
                        本条款和条件适用于玛尚诺中国(英国PizzaExpress Group Holdings Limited各中国子公司的合称，包括：马上诺餐饮（上海）有限公司、意璞思（北京）餐饮管理有限公司、意璞思（深圳）餐饮管理有限公司）旗下的玛尚诺（PizzaMarzano）会员活动，并且将构成您与公司的法律协议，本条款和条件中的某些用词具有下述“定义”部分所规定的特定含义（在本文中另有定义的除外）。
                    </p>
                    <p>
                        您确认、声明且保证您的年龄不小于18周岁（或者已经征得您父母或法定监护人的同意），并且完全有能力签署本条款和条件并遵守和符合其规定。您同意按照公司的要求提供准确完整的信息（例如在您向玛尚诺（PizzaMarzano）注册您的会员帐户时），包括您的真实姓名、电子邮箱地址和电话号码。此外，您同意维护并及时更新您的会员帐户信息，确保该信息均为准确、最新的和完整的。
                    </p>
                    <p>
                        通过点击“立即注册”按钮，您将确认您已经阅读、理解并同意接受本条款和条件的法律约束。如果您不同意本条款和条件，请关闭注册窗口并且退出注册玛尚诺（PizzaMarzano）会员账户。
                    </p>

                    <h3>定义</h3>
                    <p>
                    “中国”在本条款和条件中指的是中国大陆地区，不包括香港、澳门和台湾地区。<br/>
                    “参加活动门店”指的是马上诺餐饮（上海）有限公司、意璞思（北京）餐饮管理有限公司、意璞思（深圳）餐饮管理有限公司旗下玛尚诺（PizzaMarzano）和PizzaExpress门店。<br/>
                    “有效的付款方式”指的是现金、银行借记卡、银行信用卡及玛尚诺（PizzaMarzano）有权不时指定的能够获准记录到会员帐户中的其它付款方式。“有效的付款方式”不包括使用印刷券兑换、礼品券、实物交换、或者玛尚诺（PizzaMarzano）为了解决纠纷或因其他原因而给予的补偿，以及任何玛尚诺（PizzaMarzano）有权不时指定的其他不能记录到会员帐户中的付款方式（包括上句所列举的方式）<br/>
                    “例外项目”指的是参加活动门店指定的不能计入会员账户或者获取消费积分的项目。这些项目包括但不限于不参加积分活动的促销推广或其他玛尚诺（PizzaMarzano）有权不时指定的不能计入会员账户或者获取消费积分的项目。<br/>
                    “购买”指的是在参加活动门店使用有效的付款方式购买的玛尚诺（PizzaMarzano）产品（例外项目除外）。购买的次数以购买时开具的收银条数量为准。换言之，一张包含多个产品的收银条将被视为一次购买。任何形式的赠品均不算作购买。<br/>
                    “消费积分”指的是在参加活动门店使用有效的付款方式结账所获得的积分。<br/>
                    “非消费积分”指在“消费积分”之外获得的任何形式积分,包括但不限于奖励积分;活动赠送积分;补偿积分.<br/>
                    “会员账户”是指玛尚诺（PizzaMarzano）会员账户。<br/>
                    “会员卡”是指玛尚诺（PizzaMarzano）认可的以二维码呈现的虚拟卡或铂金卡级别专属实体卡。
                    </p>


                   <h3>活动概览</h3>
                    <div>
                    电子会员卡注册：扫描玛尚诺（PizzaMarzano）官方微信二维码，根据帐户注册指引来进行帐户的注册。<br/>

                    在您注册会员帐户之后，您每次到参加活动门店购买时，如出示您在微信公众号中的虚拟会员卡或者手机号，那么您所有的购买记录都将记录在此会员帐户中。<br/>
                    每消费一元获得一个积分。周一（法定节假日除外）全天消费一元获得两个积分。赠送的积分属于”非消费积分”<br/>

                    然而，如果因各种原因而导致购买未成功，例如产生了纠纷或者您退回所买的产品，那么我们将有权撤销您帐户里面因为此次购买而相应获得的积分。<br/>

                    正如下面所详述的，根据您的会员等级，您将收到可在参加活动门店内享受相应好礼的电子券。您所收到的电子券将自动记录到您的会员帐户里。当电子券被兑换/使用后时，相应的电子券将自动从您的会员帐户中扣除。一般来说，当您的会员级别达到符合赠送电子券的条件时，相应的电子券将在您购买后的24小时内记录到您的会员帐户中。<br/>

                    您的会员帐户内的所有积分将在积分被获取后的12个月自动清除。积分清除后，会员未使用的有效期内电子券将继续保留。<br/>

                    您应对自己的会员账户内所发生的行为负全部责任，同时，您应安全地保管您的会员帐户。请注意，在您兑换需要用会员积分兑换的电子优惠券时，相应的积分分数将会立即从您的会员账户中扣除，此操作不可逆转。您需确保在兑换电子优惠券之前仔细阅读相关使用规则，并且在有效期内兑换并使用电子优惠券。如果您未能在有效期内使用电子优惠券，扣除的积分将不会被返还。通常，会员的电子优惠券都必须在兑换后的30天内（或限时优惠活动有效期内）使用。<br/>
                    根据以下条款，您将会在不同会员级别享受到多种电子优惠券。电子优惠券的兑换及使用将取决于您当前的会员级别。<br/>

                    玛尚诺（PizzaMarzano）会员不产生任何费用。您会员账户内的积分均为免费赠送，您的会员帐户内的所有积分没有任何现金价值。如您不及时使用有效积分兑换相关会员专享电子优惠券，您的积分会在获取并存入您会员账户后的12个月失效并被扣除。<br/>

                    玛尚诺（PizzaMarzano）会员不定期更新会员专享优惠。玛尚诺（PizzaMarzano）有权在任何时候自行决定更改本条款和条件并且不承担“活动更改”部分中规定之外的任何义务。<br/>
                    </div>
                    <div>
                    会员等级与权益<br/>
                    蓝卡级别：0-2499分<br/>
                    成功注册，即可成为蓝卡会员<br/>
                    蓝卡及以上会员可享受权益：
                    </div>
                    <ul>
                        <li>开卡礼：免费一份指定产品赠送。</li>
                        <li>生日当月全月消费双倍积分！</li>
                        <li>每日签到：每天有机会赢得积分！</li>
                        <li>首次消费后赠送1288积分。</li>
                    </ul>
                    <div>
                    金卡级别：2500-9999分<br/>
                    当您的会员账户在账户周年内新增积分累积达到2500或以上（小于10000时），您将会从蓝卡级别升级到金卡级别：<br/>
                    金卡及以上会员可享受蓝卡权益的同时更可享受：<br/>
                    </div>
                    <ul>
                        <li>升级礼品: 三张买一赠一主菜券, 三个月内使用，每天每桌限用一张，套餐内主菜除外。</li>
                        <li>生日祝贺券: 生日当月堂食即赠送任意一款披萨，全月消费双倍积分！</li>
                        <li>常客优惠：每2个月消费满5次即可获赠指定产品一份。</li>
                        <li>儿童披萨派对(PMP)优惠: 购买6个孩子的披萨派对即送2个名额，一年有效。</li>
                        <li>调研试吃：优先收到邀请参与调研和新品试吃。</li>
                    </ul>
                   <div>
                       一旦升级为金卡级别会员，您的金卡会员级别将持续12个月。
                       如果您已是金卡级别会员，并且在您成为金卡会员的12个月内又新增了至少2500消费积分，那么您将有资格在12个月内继续保持金卡会员级别。然而，如果您在成为金卡的12个月内没有新增至少2500消费积分，那么您将从金卡级别降为蓝卡级别。在此后，玛尚诺（PizzaMarzano）都会继续执行相同的流程（即判断会员级别），具体判断标准将依据您12个月内在玛尚诺（PizzaMarzano）会员账户中所累积的新增消费积分决定。
                   </div>


                    <div>
                        铂金卡级别：10000分以上<br/>
                        当您的会员账户在12个月内新增积分累积达到10000或以上时，您会从金卡级别升级到铂金卡级别，铂金卡及以上会员可享受蓝卡和金卡权益的同时更可享受： <br/>
                    </div>
                   <ul>
                       <li>专属实体卡及定制礼品</li>
                       <li>升级礼品: 三张价值100元的电子现金券。</li>
                       <li>抵达餐厅后如遇排队，优先安排座位。</li>
                       <li>儿童披萨派对有更多时间灵活供选择。</li>
                       <li>更多权益陆续开放。</li>
                   </ul>
                    <div>
                    一旦升级为铂金卡级别会员，您的铂金卡会员级别将持续12个月<br/>
                    如果您已是铂金卡级别会员，并且在您成为铂金卡会员的12个月内又新增了至少10000消费积分，那么您将在之后的12个月内继续保持铂金卡会员级别。然而，如果您在成为铂金卡会员的12个月内没有新增至少10000消费积分，那么您将降级为金卡或蓝卡级别。在此后，玛尚诺（PizzaMarzano）都会继续执行相同的流程（即判断会员级别），具体判断标准将依据您12个月内在玛尚诺（PizzaMarzano）会员账户中所累积的新增积分决定。<br/>
                    </div>

                   <div>
                    会员积分及兑换<br/>
                    会员可以使用账户内的积分兑换丰富多彩的餐品。不同级别所需积分不同(如下例所示，玛尚诺（PizzaMarzano）会根据实际情况调整) （以下食品定义以参加活动门店店内菜单为准）<br/>
                    </div>
                    <div>
                    蓝卡级别：
                        <ul>
                            <li>任意一款咖啡或热茶：600分</li>
                            <li>任意一款配菜沙拉：1000分</li>
                            <li>任意一款披萨：2000分</li>
                            <li>下午茶双人套餐：2400分</li>
                            <li>店内指定葡萄酒一瓶：3600分</li>
                            <li>1场8个kids的披萨制作派对: 8000分</li>
                        </ul>
                    </div>
                    <div>
                        金卡及以上级别：
                        <ul>
                        <li>任意一款咖啡或热茶：300分</li>
                        <li>任意一款配菜沙拉：500分</li>
                        <li>任意一款披萨：1000分</li>
                        <li>下午茶双人套餐：1200分</li>
                        <li>店内指定葡萄酒一瓶：1800分</li>
                        <li>1场8个kids的披萨制作派对: 8000分</li>
                        </ul>
                    </div>

                   <div>
                    会员账户终止<br/>
                    如果您不遵守本条款和条件所规定的义务，或者您违反相关法律、法规或规定来使用您会员卡或会员帐户，那么玛尚诺（PizzaMarzano）有权终止您的会员帐户并注销您的会员卡。<br/>

                    如果玛尚诺（PizzaMarzano）终止了您的会员帐户或注销了您的会员卡，那么您的会员帐户里将不再有任何电子券，您也将无法再使用您的会员卡。由于会员卡中所有好礼都是免费赠送给您的，所以您将无法就任何电子券而要求任何退款。<br/>

                    活动更改/终止<br/>
                    玛尚诺（PizzaMarzano）有权在任何时候自行决定更改本条款和条件或自行决定终止会员活动（可在全国范围内或仅在中国境内的一个或多个市场内终止会员活动）并且不承担任何义务。<br/>

                    若玛尚诺（PizzaMarzano）要更改本条款和条件或终止会员活动，玛尚诺（PizzaMarzano）将会提前合理的时间在网站（域名）或玛尚诺（PizzaMarzano）官方微信中通知相关的更改，除非玛尚诺（PizzaMarzano）需要遵循相关的法律、法规或规定而不能提前通知。会员活动将于通知中规定的日期终止。您应定期上玛尚诺（PizzaMarzano）网站（域名）或玛尚诺（PizzaMarzano）官方微信查看会员活动是否更改或已经终止或即将终止。<br/>

                    玛尚诺（PizzaMarzano）不就活动更改或终止承担任何其他的义务或责任。<br/>
                   </div>
                    <div>
                    同意联系<br/>
                    请注意您点击注册页面的“注册帐户”按钮，您即同意玛尚诺（PizzaMarzano）、玛尚诺（PizzaMarzano）的关联公司或玛尚诺（PizzaMarzano）的供应商可不时地向您发送会员消息。如果您不愿意接收会员消息，那么请不要点击“立即注册”按钮。<br/>
                      </div>
                    <div>
                    适用法律及争议解决<br/>
                    本条款和条件应适用中国法律，并依据中国法律解释。任何与会员活动、会员账户或会员卡条款和条件有关的纠纷、争议或索赔，首先应由该等纠纷、争议或索赔的相关当事方通过友好协商解决。如果自一方最初要求开始磋商后30天内，当事方未能通过协商达成解决方案，则该等纠纷、争议或索赔应由仲裁庭按照其在仲裁之日有效的仲裁规则，由一名仲裁员在上海通过仲裁最终解决。仲裁费用应由您与玛尚诺（PizzaMarzano）平等地承担和支付；但是，如果仲裁庭基于正义及公平的原则裁决确定以其他方式承担仲裁费用，那么在此种情况下，您和玛尚诺（PizzaMarzano）应遵守仲裁庭的该等裁决。仲裁庭应裁定由败方承担胜方的律师费以及其它与仲裁相关的费用。任何依据本节作出的仲裁裁决应为终局的并对当事方均有约束力，并且在任何对当事方具有管辖权的法院均可明确地强制执行。
                    </div>
                    <div>
                    其他<br/>
                    如果本条款和条件的任何部分违法、无效或不可执行，则该部分应被视为是可分割的，并且不会影响剩余条款的有效性或可执行性。除本条款和条件中明确规定的情形外，玛尚诺（PizzaMarzano）对您不承担任何责任，并且在任何情况下，其他玛尚诺（PizzaMarzano）受偿方均不对您承担任何责任。任何对本条款和条件的豁免必须以书面形式作出并由玛尚诺（PizzaMarzano）签署，方可对玛尚诺（PizzaMarzano）或任何玛尚诺（PizzaMarzano）关联公司具有强制执行的效力。<br/>
                    “玛尚诺（PizzaMarzano）关联公司”指的是直接或者间接控制玛尚诺（PizzaMarzano），或受玛尚诺（PizzaMarzano）控制，或者与玛尚诺（PizzaMarzano）一起受他人控制的任何机构<br/>
                    “玛尚诺（PizzaMarzano）受偿方”指的是玛尚诺（PizzaMarzano）、各玛尚诺（PizzaMarzano）关联公司以及玛尚诺（PizzaMarzano）或各玛尚诺（PizzaMarzano）联公司的管理人员、董事、雇员、股东或代理人，以及前述各方各自的继承人和受让人。<br/>
                    </div>




                </div>
                <div class="bottom_img"></div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<% include ../common/footer.ejs %>
</body>
</html>
