<% const ctx = global.config.contextPath + global.config.viewPrefix; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/public.ejs %>
</head>
<body>
<% include ../header.ejs %>
<style>

</style>
<div class="container">
    <div class="row">
        <div id="sidebar-left" class="col-lg-2 col-sm-1">
            <% include pmsMenu %>
        </div>

        <div id="content" class="col-lg-10 col-sm-11">
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-4">
                    <div class="smallstat box" style="height:100px;">
                        <div class="col-md-2" style="padding-top: 15px;">
                            <i class="fa fa-line-chart blue"></i>
                        </div>
                        <div class="col-md-10">
                            <span class="title">外部订单</span>
                            <span>共：<span class="value" id="purchaseSum1"></span>条<br>待收货：<span class="" id="purchase2"></span>条</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="smallstat box" style="height:100px;">
                        <div class="col-md-2" style="padding-top: 15px;">
                            <i class="fa fa-map-signs red"></i>
                        </div>
                        <div class="col-md-10">
                            <span class="title">总仓订单</span>
                            <span>共：<span class="value" id="purchaseSum2"></span>条<br>待收货：<span class="" id="purchase5"></span>条</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="smallstat box" style="height:100px;">
                        <div class="col-md-2" style="padding-top: 15px;">
                            <i class="fa fa-money yellow"></i>
                        </div>
                        <div class="col-md-10">
                            <span class="title">调拨单</span>
                            <span>共：<span class="value" id="purchaseSum4"></span>条<br>
                                待交货：<span class="" id="purchase12"></span>条&nbsp;&nbsp;|&nbsp;</span>
                                待收货：<span class="" id="purchase13"></span>条</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
    </div>
</div>

<% include ../bottom.ejs %>
<% include ../common/footer.ejs %>

</body>
</html>
