<% const ctx = global.config.contextPath+global.config.viewPrefix; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/public.ejs %>
</head>
<body>
<% include ../header.ejs %>
<div class="container">
    <div class="row">
        <div id="sidebar-left" class="col-lg-2 col-sm-1">
            <% include pmsMenu %>
        </div>

        <div id="content" class="col-lg-10 col-sm-11">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="<%= ctx %>/pms/index">物料与采购</a></li>
                    <li><a href="#">新建单据</a></li>
                </ol>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="box-header">
                            <h2><i class="fa fa-hand-o-up"></i>单据类型选择</h2>
                        </div>
                        <div class="box-content">
                            <div class="col-sm-3">
                                <a class="quick-button" href="<%= ctx %>/pms/createPurchase">
                                    <i class="fa fa-sign-in"></i>
                                    <p>采购订单</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a class="quick-button" href="<%= ctx %>/pms/fetch">
                                    <i class="fa fa-level-down"></i>
                                    <p>物料领用单</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a href="<%= ctx %>/pms/fetch" class="quick-button">
                                    <i class="fa fa-shower"></i>
                                    <p>物料报损单</p>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <a class="quick-button">
                                    <i class="fa fa-ticket"></i>
                                    <p>物料盘点单</p>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div><!--/col-->

            </div><!--/row-->
        </div>
    </div>
</div>


<% include ../bottom.ejs %>
<% include ../common/footer.ejs %>

</body>
</html>
