<% const ctx = global.config.contextPath + global.config.viewPrefix; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/public.ejs %>
</head>
<body>
<% include ../header.ejs %>
<div class="container">
    <div class="row">
        <div id="sidebar-left" class="col-lg-2 col-sm-1">
            <% include pmsMenu %>
        </div>
        <div id="content" class="col-lg-10 col-sm-11">
            <div class="row">
                <ol class="breadcrumb list">
                    <li><a href="<%= ctx %>/pms/index">物料与采购</a></li>
                    <li><a href="<%= ctx %>/pms/newTask">采购收货</a></li>
                </ol>
            </div>
            <div class="row">
                <div class="box">
                    <div class="box-header">
                        <h2>查询条件</h2>
                    </div>
                    <div class="box-content">
                        <form id="query_form" action="" method="post" class="">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">收货单号</span>
                                        <input type="text" name="code_like" placeholder="模糊查询" class="form-control"
                                               value=""/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <label class="input-group-addon">收货日期</label>
                                        <input type="text" class="form-control date-picker" id="date01" name="happenTime_gt" data-date-format="yyyy-mm-dd"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">门店</span>
                                        <select class="form-control" id="purchaseShop"
                                                style="height: 33px;padding: 0 0.75rem;min-width: 120px;"
                                                ajaxType="post"
                                                name="storeCode"
                                                optionParam='{"properties":{"pageSize":1000}}'
                                                optionUrl="/api/445a2ba90204414387ba30a336f016b6">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="button" class="btn btn-primary btn_query">查询</button>
                                <button type="button" class="btn btn-inverse btn_add"><i class="fa fa-plus-circle"></i>新增
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="dataList"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" role="document" style="width: 960px;top: 0;left: 15%;max-height: 650px;overflow-y: auto;overflow-x: hidden;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">数据新增</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 5px 10px;">
                <form id="data_form" class="edit-form" method="post" action="">
                    <input type="hidden" name="id"/>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">收货状态</label>
                                <select class="form-control" id="type" name="type">
                                    <option value="">--请选择--</option>
                                    <option value="10">完全收货</option>
                                    <option value="20">部分收货</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" for="date01">发生日期</label>
                                <div class="controls">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" class="form-control date-picker" id="date01" name="happenTime"
                                               data-date-format="yyyy-mm-dd"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="detailsList"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="checkDiv" class="modal-footer">
                <div class="text-danger" id="error_message"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary btn_save"><i class="fa fa-dot-circle-o"></i> 保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="lineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" role="document" style="width: 960px;top: 0;left: 15%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">数据查看</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="data_form" class="edit-form" method="post" action="">
                    <input type="hidden" name="id"/>
                    <div class="form-group">
                        <label class="form-control-static col-md-2" style="width: 80px;">收货状态</label>
                        <div class="col-md-2">
                            <select class="form-control" name="type" style="border: 0px;background-color: white" disabled
                                    name="type">
                                <option value="">--请选择--</option>
                                <option value="10">完全收货</option>
                                <option value="20">部分收货</option>
                            </select>
                        </div>
                        <label class="form-control-static col-md-2" style="width: 80px;">发生日期</label>
                        <div class="col-md-3">
                            <input style="border: 0px;background-color: white" disabled name="happenTime"/>
                        </div>
                    </div>
                    <div id="lineList"></div>
                </form>
            </div>
            <div id="checkDiv" class="modal-footer">
                <div class="text-danger" id="error_message"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <!--<button type="button" class="btn btn-primary btn_save"><i class="fa fa-dot-circle-o"></i> 保存</button>-->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<% include ../bottom.ejs %>
<% include ../common/footer.ejs %>
</body>
</html>
