<% const ctx = global.config.contextPath + global.config.viewPrefix; %>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/public.ejs %>
</head>
<body>
<% include ../header.ejs %>
<div class="container">
    <div class="row">
        <div id="sidebar-left" class="col-lg-2 col-sm-1">
            <% include omsMenu %>
        </div>

        <div id="content" class="col-lg-10 col-sm-11">
            <div class="row">
                <ol class="breadcrumb list">
                    <li><a href="<%= ctx %>/oms/index">消费订单</a></li>
                    <li><a href="#">对账单上传</a></li>
                </ol>
            </div>
            <ul class="nav nav-tabs" role="tablist" id="myTabs">
                <li role="presentation" class="active">
                    <a href="#type4" id="tab_user1" idx="1"
                       aria-controls="type4" role="tab"
                       data-toggle="tab"><i class="fa fa-trello icon-menu"></i>应收对账上传 </a>
                </li>
                <li role="presentation">
                    <a href="#home4" id="tab_user2" idx="2"
                       aria-controls="home4" role="tab"
                       data-toggle="tab"><i class="fa  fa-behance-square" aria-hidden="true"></i>现金对账上传<span
                                class="badge" id="unSubmitNum"></span></a>
                </li>
            </ul>
            <div class="tab-content" id="userList">
                <div class="tab-pane active" id="type4" role="tabpanel">
                    <hr class="divider-hr"/>
                    <div class="row">
                        <div class="col-md-12">
                        <hr class="divider-hr"/>
                        <span type="button"
                              class="btn btn-outline-info btn-sm  fileinput-button"
                              style="margin: 0.75rem;">应收对账上传
                         <input id="fileupload1" type="file" name="upfile" multiple=""/>
                         </span>
                        <button type="button" class="btn btn-primary btn_editListSave"><i class="fa fa-dot-circle-o"></i> 保存</button>
                        <div class="row" id="typeList" style="padding: 0.5rem 2rem;">
                            <div id="editList"></div>
                        </div>
                        </div>
                    </div>



                </div>
                <div class="tab-pane" id="home4" role="tabpanel">
                    <hr class="divider-hr"/>
                    <div class="row">
                        <div class="col-md-12">
                        <hr class="divider-hr"/>
                        <span type="button"
                              class="btn btn-outline-info btn-sm  fileinput-button"
                              style="margin: 0.75rem;">现金对账上传
                        <input id="fileupload2" type="file" name="upfile" multiple=""/>
                        </span>
                        <button type="button" class="btn btn-primary btn_cashListSave"><i class="fa fa-dot-circle-o"></i> 保存</button>
                        <div class="row" id="typeList" style="padding: 0.5rem 2rem;">
                            <div id="cashList"></div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>


<% include ../bottom.ejs %>
<% include ../common/footer.ejs %>
</body>
</html>
