<%
const ctx = global.config.contextPath + global.config.viewPrefix,
        txt1 = "消费订单", txt2 = "订单汇总列表";
let mdiIcon = {};
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/meta.ejs %>
    <% include ../common/public.ejs %>
</head>
<body class="fix-header">
<% include ../common/prload.ejs %>
<div id="wrapper">
    <% include ../common/nav.ejs %>
    <% include ../common/menu.ejs %>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <% include ../common/breadcrumb.ejs %>
            <div class="white-box">
                <!-- .row -->
                <div class="row">
                    <% include ../common/subMenu.ejs %>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 mail_listing">
                        <div class="row">
                            <div class="panel panel-inverse hidden-xs">
                                <div class="panel-heading" data-perform="panel-collapse">查询与操作
                                    <div class="panel-action">
                                        <a href="javascript:void(0)"><i class="ti-angle-down"></i></a>
                                    </div>
                                </div>
                                <div class="panel-wrapper collapse">
                                    <div class="panel-body">
                                        <form role="form" id="query_form" class="query-condition">
                                            <input type="hidden" name="_sync" value="false"/>
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">汇总编号</span>
                                                        <input type="text" name="id_like" placeholder="模糊查询" class="form-control"/>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">交易时间</span>
                                                        <input type="text" class="form-control" id="daterange" name="_happenTime"
                                                               value="">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <button type="button" class="btn btn-primary btn_query"><i class="fa fa-search"></i> 查询</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="dataList"></div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
            </div>
        </div>
        <!-- /.container-fluid -->
        <% include ../common/bottom.ejs %>
    </div>
    <!-- /#page-wrapper -->
</div>

<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" style="width:96%;top:0;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">汇总明细数据</h5>
            </div>
            <div class="modal-body" style="padding: 5px;">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" id="homeTab" aria-controls="home"
                                                                  role="tab" data-toggle="tab">订单行</a></li>
                        <li role="presentation"><a href="#settings" id="settingsTab" aria-controls="settings" role="tab"
                                                   data-toggle="tab">订单明细汇总行</a></li>
                        <li role="presentation"><a href="#profile" id="profileTab" aria-controls="profile" role="tab"
                                                   data-toggle="tab">折扣汇总行</a></li>
                        <li role="presentation"><a href="#messages" id="messagesTab" aria-controls="messages" role="tab"
                                                   data-toggle="tab">支付汇总行</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div id="detailOrderList" class="fix-height-list"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="settings">
                            <div id="detailOrderLineList" class="fix-height-list"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <div id="summaryOrderDiscountList" class="fix-height-list"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages">
                            <div id="summaryOrderPaymentList" class="fix-height-list"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="dataModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" style="width:92%;top:0;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">订单明细行数据</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 5px;">
                <div id="lineListSelect" class="fix-height-list"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dataModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" style="width:85%;top:0;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">明细折扣行数据</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 5px;">
                <div id="detailOrderDiscountList" class="fix-height-list"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dataModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" style="width:80%;top:0;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">明细支付行数据</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 5px;">
                <div id="detailOrderPaymentList" class="fix-height-list"></div>
            </div>
        </div>
    </div>
</div>

<% include ../common/footer.ejs %>
</body>
</html>
