<%
const ctx = global.config.contextPath + global.config.viewPrefix,
        txt1 = "消费订单", txt2 = "应收对账";
let mdiIcon = {};
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/meta.ejs %>
    <% include ../common/public.ejs %>
</head>
<body class="fix-header">
<% include ../common/prload.ejs %>
<div id="wrapper">
    <% include ../common/nav.ejs %>
    <% include ../common/menu.ejs %>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <% include ../common/breadcrumb.ejs %>
            <div class="white-box">
                <!-- .row -->
                <div class="row">
                    <% include ../common/subMenu.ejs %>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 mail_listing">
                        <ul class="nav nav-tabs" role="tablist" id="myTabs">
                            <li role="presentation" class="active">
                                <a href="#type4" id="tab_user1" idx="1"
                                   aria-controls="type4" role="tab"
                                   data-toggle="tab"><i class="fa fa-trello icon-menu"></i>总部应收对账 </a>
                            </li>
                            <li role="presentation">
                                <a href="#hello4" id="tab_user3" idx="1"
                                   aria-controls="hello4" role="tab"
                                   data-toggle="tab"><i class="fa fa-trello icon-menu"></i>待过账列表</a>
                            </li>
                            <li role="presentation">
                                <a href="#word4" id="tab_user4" idx="1"
                                   aria-controls="word4" role="tab"
                                   data-toggle="tab"><i class="fa fa-trello icon-menu"></i>应收对账上传 </a>
                            </li>

                        </ul>
                        <div class="tab-content" id="userList">
                            <div class="tab-pane active" id="type4" role="tabpanel">
                                <hr class="divider-hr"/>
                                <div class="row" id="typeList" style="padding: 0.5rem 2rem;">
                                    <form id="queryForm">
                                        <input type="hidden" name="status" value="1"/>
                                        <div class="row">
                                            <div class="col-md-4" style="display: block;" id="newSupplierDiv">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">门店名称</span>
                                                        <select class="form-control" id="shopName1"
                                                                emptyOption="true"
                                                                name="shopCode"
                                                                style="padding: 0 0.75rem;min-width: 120px;"
                                                                ajaxType="post"
                                                                value="<%= userData.shopCode %>"
                                                                optionParam='{"properties":{"pageSize":1000,"type":"1","code_in":"<%= userData.shops.join(',') %>"}}'
                                                                optionUrl="/api/445a2ba90204414387ba30a336f016b6">
                                                        </select>
                                                    </div>
                                            </div>
                                            <div class="col-md-4" style="display: block;">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">对账日期</span>
                                                            <input class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                                                   name="tradeDate_gt">
                                                            <span class="input-group-addon">至</span>
                                                            <input class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                                                   name="tradeDate_le">
                                                        </div>
                                            </div>
                                            <div class="col-md-4" style="display: block;" id="newSupplierDiv">
                                                <div class="input-group">
                                                    <span class="input-group-addon">上次过账日期</span>
                                                        <input class="form-control date-picker"
                                                               data-date-format="yyyy-mm-dd" id="lastPassDate"disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px">
                                            <div class="col-md-12">
                                                <button type="button" class="btn btn-primary btn_query">查询</button>
                                                <button type="button" class="btn btn-primary btn-save2">
                                                    保存
                                                </button>
                                            </div>
                                        </div>

                                    </form>
                                    <hr style="margin-top: 10px;margin-bottom: 10px;"/>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="hqList"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="hello4" role="tabpanel">
                                <hr class="divider-hr"/>
                                <div class="row" id="typeList" style="padding: 0.5rem 2rem;">
                                    <div class="row" id="dataToSap">
                                        <button type="button" class="btn btn-outline blue btn_passCheck" style="margin-right: 20px;float: right"><i class="fa fa-cloud-upload"></i> 过账至SAP</button>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="hqList2"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="word4" role="tabpanel">
                                <hr class="divider-hr"/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <span type="button"
                                              class="btn btn-outline-info btn-info  fileinput-button"
                                              style="margin: 0.75rem;">应收对账上传
                         <input id="fileupload1" type="file" name="upfile" multiple=""/>
                         </span>
                                        <button type="button" class="btn btn-primary btn_editListSave"><i class="fa fa-dot-circle-o"></i> 保存</button>
                                        <div class="row" style="padding: 0.5rem 2rem;">
                                            <div id="receiveList"></div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
            </div>
        </div>
        <!-- /.container-fluid -->
        <% include ../common/bottom.ejs %>
    </div>
    <!-- /#page-wrapper -->
</div>

<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">过账编辑</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="data_form" class="edit-form" id="data_form" method="post" action="">
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label static-label"><strong>过账日期</strong></label>
                                <div class="col-sm-6">
                                    <input class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                           name="passCheckDate">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-danger" id="error_message"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary  btn_saveCheck"><i class="fa fa-dot-circle-o"></i> 确认过账
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="matModal" tabindex="-1" role="dialog" aria-labelledby=matModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" role="document" style="width: 1000px;top: 0;right: 15px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">待过账数据</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div id="editList" class="fix-height-list"></div>
            </div>
            <div class="modal-footer">
                <div class="text-danger error_message"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary checkSave">
                    保存
                </button>
            </div>
        </div>
    </div>
</div>

<% include ../common/footer.ejs %>
</body>
</html>
