<%
const ctx = global.config.contextPath + global.config.viewPrefix,
        txt1 = "积分优惠券管理", txt2 = "积分商品与类型";
let mdiIcon = {};
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/meta.ejs %>
    <% include ../common/public.ejs %>
</head>
<body class="fix-header">
<% include ../common/prload.ejs %>
<div id="wrapper">
    <% include ../common/nav.ejs %>
    <% include ../common/menu.ejs %>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <% include ../common/breadcrumb.ejs %>
            <div class="white-box">
                <!-- .row -->
                <div class="row">
                    <% include ../common/subMenu.ejs %>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 mail_listing">
                         <div class="row">
                            <div class="panel panel-inverse hidden-xs">
                                <div class="panel-heading" data-perform="panel-collapse">查询与操作
                                    <div class="panel-action">
                                        <a href="javascript:void(0)"><i class="ti-angle-down"></i></a>
                                    </div>
                                </div>
                                <div class="panel-wrapper collapse">
                                    <div class="panel-body">
                                        <form role="form" id="query_form" class="query-condition">
                                            <div class="form-group row">
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">商品名称</span>
                                                        <input type="text" name="name_like" placeholder="模糊查询"
                                                               class="form-control" value=""/>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">商品类型</span>
                                                        <select class="form-control" name="type"
                                                                options="pointStoreType" id="pointStoreType" ></select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">创建时间</span>
                                                        <input class="form-control date-picker"
                                                               data-date-format="yyyy-mm-dd" name="createTime_gt"/>
                                                        <span class="input-group-addon">至</span>
                                                        <input class="form-control date-picker"
                                                               data-date-format="yyyy-mm-dd" name="createTime_le"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <div class="form-actions">
                                                        <button type="button" class="btn btn-primary btn_query"><i
                                                                    class="fa fa-search"></i> 查询
                                                        </button>
                                                        <button type="button" class="btn btn-inverse addPointStore"><i
                                                                    class="fa fa-plus-circle"></i> 新增
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="row">
                                <div id="dataListSelect"></div>
                            </div>


                    </div>
                </div>
                <!-- .row -->
            </div>
        </div>
        <!-- /.container-fluid -->
        <% include ../common/bottom.ejs %>
    </div>
    <!-- /#page-wrapper -->
</div>

<div class="modal fade" id="dataSelectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">积分商品</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="pointStoreForm" class="edit-form" method="post" action="">
                    <input type="hidden" id="pointStoreId" name="id"/>
                    <div class="tab-pane active">
                        <div class="row" style="padding-left: 5%">
                            <div class="form-group">
                                <div class="controls">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">商品名称</label>
                                            <div class="controls">
                                                <div class="input-group ">
                                                    <input type="text" class="form-control" style="width: 200px" name="name"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">商品类型</label>
                                            <div class="controls">
                                                <div class="input-group">
                                                    <select class="form-control" name="type"
                                                            options="pointStoreType" style="width: 200px;" ></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">商品数量</label>
                                            <div class="controls">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" style="width: 200px" name="stockNum" placeholder="小于1表示无限制"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">最低兑换等级</label>
                                            <div class="controls">
                                                <div class="input-group ">
                                                    <select class="form-control" id="selectLevel" style="width: 200px" name="exchangeLevel" options="userLevel"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">优惠券</label>
                                            <div class="controls">
                                                <div class="input-group">
                                                    <select id="ticket" style="width: 200px;"
                                                            name="voucher" class="form-control" data-rel="chosen" hidden
                                                            ajaxType="post"
                                                            optionParam='{"properties":{"pageSize":1000,"status":1}}'
                                                            optionUrl="/api/002e17f5d8e24e918c2ddb5ad706deb4">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="blue" class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">蓝卡所需积分</label>
                                            <div class="controls">
                                                <div class="input-group ">
                                                    <input type="text" class="form-control" style="width: 200px" name="buleCardPoint"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="gold" class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">金卡所需积分</label>
                                            <div class="controls">
                                                <div class="input-group ">
                                                    <input type="text" class="form-control" style="width: 200px" name="goldCardPoint"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="platinum" class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">铂金卡所需积分</label>
                                            <div class="controls">
                                                <div class="input-group ">
                                                    <input type="text" class="form-control" style="width: 200px" name="platinumCardPoint"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="black" class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">黑卡所需积分</label>
                                            <div class="controls">
                                                <div class="input-group ">
                                                    <input type="text" class="form-control" style="width: 200px" name="blackCardPoint"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div  class="modal-footer">
                <div class="text-danger" id="error_message"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary btnPointStore"><i class="fa fa-dot-circle-o"></i> 保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<% include ../common/footer.ejs %>
</body>
</html>
