<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header text-center">
        <!-- Search input and Toggle icon -->
        <ul class="nav navbar-top-links navbar-left">
            <li>
                <a href="javascript:void(0)" id="openAndclose" class="open-close waves-effect waves-light visible-xs">
                    <i class="ti-menu header-icon"></i>
                </a>
            </li>
        </ul>
        <span><%= pageName %></span>
        <!-- This is the message dropdown -->
        <ul class="nav navbar-top-links navbar-right pull-right">
            <li>
                <a href="<%= ctx %>/wechat/home" class="waves-effect waves-light visible-xs"
                   style="padding: 0 24px 0 12px !important;">
                    <i class="ti-home header-icon"></i>
                </a>
            </li>
            <!-- /.dropdown -->
        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>
<div id="cover-over"></div>