<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header text-center">
        <!-- Search input and Toggle icon -->

        <span><%= pageName %></span>
        <!-- This is the message dropdown -->

    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>
<div id="cover-over"></div>