<html>
<style>
    .tr {
        border:1px solid #dddddd;
    }
    .input{
        color: red;
        padding-left:10px;
        border-left-width:0px;
        border-top-width:0px;
        border-right-width:0px;
        border-bottom-width:1px;
        border-bottom-color:grey;
        width: 60px;
        height: 20px;
        background-color: white;
    }
    table {
        white-space: normal;
        line-height: normal;
        font-weight: normal;
        font-size: medium;
        font-style: normal;
        text-align: start;
    }
    .table-bordered {
        border: 1px solid #ddd;
    }
    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    table {
        background-color: transparent;
    }
    table {
        border-spacing: 0;
        border-collapse: collapse;
    }
    .unit-info{
        font-size: 90%;
        color: #666;
    }
</style>
<head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="<%= global.config.publicPath %>/assets/ico/favicon.ico">
</head>
<body>
<div align="right" style=" width:100%;padding-top: 10px;">
    <span style="padding-right: 5%">
        <button id="print" class="btn" type="button">打印</button>
    </span>
</div>
<!--startprint-->
<div align="center" style="text-align: center;width: 100%;font-weight: 700;font-size: 21px;">物料数据</div>
<hr class="table-bordered" style="width: 90%">
<div style="width: 90%;padding-top: 20px;padding-left: 5%" >
    <table align="center" style="width:100%;padding-right: 0%;">
        <tr align="center" style="height: 25px;">
            <th align="right" style="width: 12%">门店号 &nbsp;</th>
            <td align="left"  style="width: 20%" id="storeName"></td>
            <th align="right"  style="width: 18%">盘点类型 &nbsp;</th>
            <td align="left"  style="width: 15%" id="type"></td>
            <th align="right"  style="width: 20%">盘点日期 &nbsp;</th>
            <td align="left"  style="width: 15%" id="time"></td>
        </tr>
    </table>
</div>
<div align="center" style="width: 90%;padding-top: 10px;padding-left: 5%;">
    <table align="center" id="tableTr" class="table table-bordered">
        <tr align="center" class="tr" style="height: 30px;">
            <th class="tr" style="width:4%">序号</th>
            <th class="tr" style="width:6%">盘点区域</th>
            <th class="tr" style="width:8%">物料编码</th>
            <th class="tr" style="width:25%" align='left'>物料名称</th>
            <th class="tr" style="width:10%">数量(单位1)</th>
            <th class="tr" style="width:10%">数量(单位2)</th>
            <th class="tr" style="width:10%">数量(单位3)</th>
            <th class="tr" style="width:10%">数量(单位4)</th>
            <th class="tr" style="width:10%">数量(单位5)</th>
            <th class="tr" style="width:10%">参考价</th>
        </tr>
    </table>
</div>
<!--endprint-->
</body>
<% include ../common/footer.ejs %>
<script>
    $('#print').click(function () {
        bdhtml = window.document.body.innerHTML;
        sprnstr = "<!--startprint-->";
        eprnstr = "<!--endprint-->";
        prnhtml = bdhtml.substr(bdhtml.indexOf(sprnstr) + 17);
        prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));
        window.document.body.innerHTML = prnhtml;
        window.print();
    });
</script>
</html>
