<%
const ctx = global.config.contextPath + global.config.viewPrefix,
        txt1 = "物料管理", txt2 = "物料损耗管理";
let mdiIcon = {};
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/meta.ejs %>
    <% include ../common/public.ejs %>
    <link href="<%= global.config.publicPath %>/assets/plugins/bower_components/custom-select/custom-select.min.css"
          rel="stylesheet">
</head>
<body class="fix-header">
<% include ../common/prload.ejs %>
<div id="wrapper">
    <% include ../common/nav.ejs %>
    <% include ../common/menu.ejs %>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <% include ../common/breadcrumb.ejs %>
            <div class="white-box">
                <!-- .row -->
                <div class="row">
                    <% include ../common/subMenu.ejs %>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 mail_listing">
                        <div class="row">
                            <div class="panel panel-inverse hidden-xs">
                                <div class="panel-heading" data-perform="panel-collapse">查询与操作
                                    <div class="panel-action">
                                        <a href="javascript:void(0)"><i class="ti-angle-up"></i></a>
                                    </div>
                                </div>
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <form role="form" id="query_form" class="query-condition">
                                            <div class="form-group row">
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">单据号</span>
                                                        <input type="text" name="code_like" placeholder="模糊查询" class="form-control"
                                                               value=""/>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">业务类型</span>
                                                        <select class="form-control" name="type" id="queryType" options="fetchType">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">发生日期</span>
                                                        <input class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                                               name="happenTime_gt">
                                                        <span class="input-group-addon">到</span>
                                                        <input class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                                               name="happenTime_le">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-3">
                                                    <div class="form-actions">
                                                        <button type="button" class="btn btn-primary btn_query"><i class="fa fa-search"></i> 查询</button>
                                                        <button type="button" class="btn btn-inverse btn_add"><i class="fa fa-plus-circle"></i>
                                                            新增物料损耗
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="dataList"></div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
            </div>
        </div>
        <!-- /.container-fluid -->
        <% include ../common/bottom.ejs %>
    </div>
    <!-- /#page-wrapper -->
</div>

<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" role="document" style="width: 1280px;top: 0;right: 0;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">物料消耗</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="data_form" class="edit-form" method="post" action="">
                    <input type="hidden" name="uid" value="<%=global.tool.uuid() %>" />
                    <input type="hidden" name="id"/>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">业务类型<span>*</span></label>
                                <select class="form-control" id="workType" name="type" options="fetchType"
                                        dol-validate="required">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" for="date01">发生日期</label>
                                <div class="controls">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" class="form-control date-picker" name="happenTime"
                                               disabled
                                               dol-validate="required"
                                               data-date-format="yyyy-mm-dd"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" for="purchaseShop">发生门店</label>
                                <div class="controls">
                                <select class="form-control" id="purchaseShop"
                                        style="height: 33px;padding: 0 0.75rem;min-width: 300px;"
                                        emptyOption="false"
                                        ajaxType="post"
                                        name="shopCode"
                                        emptyOption="false"
                                        optionParam='{"properties":{"pageSize":1000,"code_in":"<%= userData.shops.join(',') %>"}}'
                                        optionUrl="/api/445a2ba90204414387ba30a336f016b6">
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-lg btn-outline purple" style="margin-top: 28px"
                                    id="materielSelectBtn"> 物料选择
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="detailsList" class="fix-height-list"></div>
                            <div style="padding-left: 85%;padding-top: 20px;">总额：<span id="totalAmount">0.00</span></div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="checkDiv" class="modal-footer">
                <div class="text-danger error_message"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-danger btn_save"><i class="fa fa-dot-circle-o"></i> 保存并提交至SAP
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="matModal" tabindex="-1" role="dialog" aria-labelledby=matModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" role="document" style="width: 600px;top: 0;right: 15px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">物料选择</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="padding: 5px 0;">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <select id="typeSelect" class="form-control form-control-select" name="type" emptyOption="false"
                                        options="matType"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input id="codeInput" class="form-control" placeholder="物料名称模糊搜索" name="name_like"
                                       type="text" style="padding: 5px;">
                                <span class="input-group-btn"><button class="btn" type="button"
                                                                      id="matSelectSearch">搜索</button></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="materielSelectDiv"></div>
            </div>
            <div class="modal-footer">
                <div class="text-danger error_message"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-info btn_confirm"> 确认</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dataModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" role="document" style="width: 1200px;top: 0;right: 0;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">物料消耗明细</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="view_form" class="view-form" method="post" action="">
                    <input type="hidden" name="id"/>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">业务类型<span>*</span></label>
                                <span id ="type" name="type"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label" for="date01">发生日期</label>
                                <span name="happenTime"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">发生门店</label>
                                <span name="name"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="detailsListView" class="fix-height-list"></div>
                            <div style="padding-top: 20px;padding-left: 85%">总额：<span id="rental">0.00</span></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<% include ../common/footer.ejs %>
<script src="<%= global.config.publicPath %>/assets/plugins/bower_components/custom-select/custom-select.min.js"></script>
</body>
</html>
