<html>
<style>
    .tr {
        border:1px solid #dddddd;
    }
    table {
        white-space: normal;
        line-height: normal;
        font-weight: normal;
        font-size: medium;
        font-style: normal;
        text-align: start;
    }
    .table-bordered {
        border: 1px solid #ddd;
    }
    table {
        border-spacing: 0;
        border-collapse: collapse;
    }
</style>
<head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="<%= global.config.publicPath %>/assets/ico/favicon.ico">
</head>
<body>
<!--startprint-->
<div align="center" style="text-align: center;width: 100%;font-weight: 700;font-size: 21px;">马上诺餐饮（上海）有限公司</div>
<hr class="table-bordered">
<div style="width: 100%;padding-top: 20px;" >
    <table align="center" style="width:100%;padding-right: 0%;">
        <tr align="center" style="height: 25px;">
            <th style="width: 15%" align="right">订单类型 &nbsp;</th>
            <td style="width: 15%;color: red;" align="left" id="type"></td>
            <th style="width: 15%" align="right">调出门店编号 &nbsp;</th>
            <td style="width: 15%" align="left" id="procureCode"></td>
            <th style="width: 20%" align="right">订单编号 &nbsp;</th>
            <td style="width: 20%" align="left" id="code"></td>
        </tr>
        <tr align="center" style="height: 25px;">
            <th style="width: 15%" align="right">购入门店 &nbsp;</th>
            <td style="width: 15%" align="left" id="storeCode"></td>
            <th style="width: 15%" align="right">调出门店 &nbsp;</th>
            <td style="width: 15%" align="left" id="name"></td>
            <th style="width: 20%" align="right">提交时间&nbsp; </th>
            <td style="width: 20%" align="left" id="syncDate"></td>
        </tr>
        <tr align="center" style="height: 25px;">
            <th style="width: 15%" align="right">提交人 &nbsp;</th>
            <td style="width: 15%" align="left" id="submitor"></td>
            <th style="width: 15%" align="right">计划交货时间 &nbsp;</th>
            <td style="width: 15%" align="left" id="deliveryDate"></td>
            <th style="width: 20%" align="right"> &nbsp;</th>
            <td style="width: 20%" align="left" id="productMobile"></td>
        </tr>
    </table>
</div>
<div align="center" style="width: 100%;padding-top: 10px;">
    <table id="tableTr" class="table table-bordered" style="width: 90%">
        <tr class="tr" align="center" style="height: 30px;">
            <th style="width: 5%" class="tr">序号</th>
            <th style="width: 15%" class="tr">物料编码</th>
            <th style="width: 25%" class="tr" align="left">物料名称</th>
            <th style="width: 15%" class="tr">参考价格</th>
            <th style="width: 15%" class="tr">采购数量</th>
            <th style="width: 12%" class="tr">单位</th>
            <th style="width: 13%" class="tr">小计</th>
        </tr>
    </table>
</div>
<div style="padding-left: 80%;"><span >订单金额：</span><span id="totalAmount"></span></div>
<!--endprint-->
<div align="center" style="padding-top: 10px;"><input id="print" type="button" value="打印"/></div>
<% include ../common/footer.ejs %>
<script>
    $('#print').click(function () {
        bdhtml = window.document.body.innerHTML;
        sprnstr = "<!--startprint-->";
        eprnstr = "<!--endprint-->";
        prnhtml = bdhtml.substr(bdhtml.indexOf(sprnstr) + 17);
        prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));
        window.document.body.innerHTML = prnhtml;
        window.print();
    });
</script>
</body>
</html>
