<%
const ctx = global.config.contextPath + global.config.viewPrefix,
        txt1 = "物料管理", txt2 = "门店调拨查询";
let mdiIcon = {};
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/meta.ejs %>
    <% include ../common/public.ejs %>
</head>
<body class="fix-header">
<% include ../common/prload.ejs %>
<div id="wrapper">
    <% include ../common/nav.ejs %>
    <% include ../common/menu.ejs %>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <% include ../common/breadcrumb.ejs %>
            <div class="white-box">
                <!-- .row -->
                <div class="row">
                    <% include ../common/subMenu.ejs %>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 mail_listing">
                        <div class="row">
                            <div class="panel panel-inverse hidden-xs">
                                <div class="panel-heading" data-perform="panel-collapse">查询与操作
                                    <div class="panel-action">
                                        <a href="javascript:void(0)"><i class="ti-angle-down"></i></a>
                                    </div>
                                </div>
                                <div class="panel-wrapper collapse">
                                    <div class="panel-body">
                                        <form role="form" id="query_form" class="query-condition">
                                            <div class="form-group row">
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">订单编号</span>
                                                        <input type="text" name="dn$code_or_attr" placeholder="模糊查询" class="form-control"
                                                               value=""/>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">供应商名称</span>
                                                        <input type="text" name="name_like" placeholder="模糊查询" class="form-control"
                                                               value=""/>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">提交时间</span>
                                                        <input class="form-control date-picker" data-date-format="yyyy-mm-dd" name="syncDate_gt">
                                                        <span class="input-group-addon">到</span>
                                                        <input class="form-control date-picker" data-date-format="yyyy-mm-dd" name="syncDate_le">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <button type="button" class="btn btn-primary btn_query"><i class="fa fa-search"></i> 查询</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <ul class="nav nav-tabs" role="tablist" id="myTabs">
                                <li role="presentation" class="active">
                                    <a href="#type4" id="tab_user1" idx="1"
                                       aria-controls="type4" role="tab"
                                       data-toggle="tab"><i class="fa fa-glass" aria-hidden="true"></i> <strong>待接收订单</strong><span class="badge" id="unReceiveNum"></span></a>
                                </li>
                                <li role="presentation">
                                    <a href="#home4" id="tab_user2" idx="2"
                                       aria-controls="home4" role="tab"
                                       data-toggle="tab"><i class="fa fa-bars" aria-hidden="true"></i> <strong>全部订单</strong></a>
                                </li>
                            </ul>
                            <div class="tab-content" id="userList">
                                <div class="tab-pane active" id="type4" role="tabpanel">
                                    <hr style="margin-top: 10px;margin-bottom: 10px;"/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="toReceiveList"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="home4" role="tabpanel">
                                    <hr style="margin-top: 10px;margin-bottom: 10px;"/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="orderList"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
            </div>
        </div>
        <!-- /.container-fluid -->
        <% include ../common/bottom.ejs %>
    </div>
    <!-- /#page-wrapper -->
</div>

<div class="modal fade" id="matModal" tabindex="-1" role="dialog" aria-labelledby=matModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" role="document" style="width: 1000px;top: 0;right: 15px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">待收货物料</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div id="materielSelectDiv" class="fix-height-list"></div>
            </div>
            <div class="modal-footer">
                <div class="text-danger error_message"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" id="print" class="btn btn-primary">订单打印</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hiddenId"/>
<div class="modal fade" id="dataModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" style="width:1000px;top:0;right: 0;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">订单明细物料行<span id="dn"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 5px;">
                <form id="receive_form">
                    <div id="receiveList" class="fix-height-list"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary btn_receive"><i class="fa fa-dot-circle-o"></i> 收货</button>
                <button type="button" id="print_btn" class="btn btn-inverse">订单打印</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<% include ../common/footer.ejs %>
</body>
</html>
