<%
const ctx = global.config.contextPath + global.config.viewPrefix,
        txt1 = "会员与营促销", txt2 = "会员权益";
let mdiIcon = {};
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/meta.ejs %>
    <% include ../common/public.ejs %>
</head>
<body class="fix-header">
<% include ../common/prload.ejs %>
<div id="wrapper">
    <% include ../common/nav.ejs %>
    <% include ../common/menu.ejs %>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <% include ../common/breadcrumb.ejs %>
            <div class="white-box">
                <!-- .row -->
                <div class="row">
                    <% include ../common/subMenu.ejs %>
                    <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 mail_listing">
                        <div class="row">
                            <div class="panel panel-inverse hidden-xs">
                                <div class="panel-heading" data-perform="panel-collapse">查询与操作
                                    <div class="panel-action">
                                        <a href="javascript:void(0)"><i class="ti-angle-down"></i></a>
                                    </div>
                                </div>
                                <div class="panel-wrapper collapse">
                                    <div class="panel-body">
                                        <form role="form" id="query_form">
                                            <div class="form-group row">
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">权益名称</span>
                                                        <input type="text" name="name_like" placeholder="模糊查询" class="form-control"
                                                               value=""/>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">权益类别</span>
                                                        <select class="form-control" name="activityType" options="authorityType" id='querySelect'>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-actions">
                                                <button type="button" class="btn btn-primary btn_query">查询</button>
                                                <button type="button" class="btn btn-info btn_add" style="margin-left:5px;">新增</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="dataList"></div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
            </div>
        </div>
        <!-- /.container-fluid -->
        <% include ../common/bottom.ejs %>
    </div>
    <!-- /#page-wrapper -->
</div>

<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">会员权益发起</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="data_form" class="edit-form" method="post" action="">
                    <input type="hidden" name="id"/>
                    <div class="tab-pane active">
                        <div class="row">
                            <div class="form-group">
                                <div class="controls">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label">权益编码<span style="color: red">*</span></label>
                                            <input type="text" class="form-control" name="code" id="code" placeholder=""/>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">权益名称<span style="color: red">*</span></label>
                                            <input type="text" class="form-control" name="name"/>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">权益类别<span style="color: red">*</span></label>
                                            <select class="form-control" name="type" options="authorityType" id='authoritySelect'>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <label class="control-label">权益实效<span style="color: red">*</span></label>
                                        <div class="input-group">
                                            <input class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                                   name="beginTime">
                                            <span class="input-group-addon">至</span>
                                            <input class="form-control date-picker" data-date-format="yyyy-mm-dd"
                                                   name="endTime">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div id="checkDiv" class="modal-footer">
                <div class="text-danger" id="error_message"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary btn_save"><i class="fa fa-dot-circle-o"></i> 保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<div class="modal fade" id="dataLineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" style="width: 800px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">权益规则配置</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="edit-form" method="post" action="">
                    <input type="hidden" name="id"/>
                    <input type="hidden" name="code"/>
                    <input type="hidden" name="name"/>
                    <div class="tab-pane active">
                        <div class="row">
                            <div class="form-group">
                                <div class="controls">
                                    <div class="col-md-12"  style="padding-left: 10px;">
                                        <div id="activityRuleList"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div id="checkDiv" class="modal-footer">
                <div class="text-danger" id="error_message"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary btn_save_line"><i class="fa fa-dot-circle-o"></i>保存</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dataModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-md" style="width:650px;top:0;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">优惠券列表</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="detailContent" style="padding: 5px;">
                <div class="box">
                    <div class="box-content" style="padding: 0;">
                        <div id="couponsListSelect"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary btn_confirm"><i class="fa fa-dot-circle-o"></i> 确认选择</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<% include ../common/footer.ejs %>
</body>
</html>
