<!DOCTYPE html>
<html>
<head>
    <% include ../common/public.ejs %>
</head>
<body>
<% include ../common/header.ejs %>

<div class="container-fluid">
    <div class="main page-content">
        <div class="page-header">
            <h5>新闻管理</h5>
            <div class="pull-left">
                <ul class="fl">
                    <li>
                        <button class="btn btn-info add_new"><i class=""></i><span>新建</span></button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="dolphin-col-24 main">
            <div class="dolphin-row">
                <div class="dolphin-col-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                类别树
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="categoryTree"></div>
                        </div>
                    </div>
                </div>
                <div class="dolphin-col-20" id="infoPanel">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                                新闻明细列表
                                <div class="operationButton" style="float: right;margin-top:-4px;">
                                    <div class="btn-group float-right" role="group">
                                        <button type="button" class="btn btn-success btn-sm" id="articleAdd">新增</button>
                                        <button type="button" class="btn btn-warning btn-sm" id="articleUpdate">修改
                                        </button>
                                        <button type="button" class="btn btn-danger btn-sm" id="articleDel">删除</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="itemList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增类别</h4>

            </div>
            <div class="modal-body">
                <form id="categoryForm" class="form-horizontal">
                    <input type="hidden" name="parent.id"/>
                    <input type="hidden" name="id"/>
                    <div class="dolphin-row">
                        <div class="dolphin-col-24">
                            <div class="form-group">
                                <label class="dolphin-col-6 control-label">类别编码</label>
                                <div class="dolphin-col-18">
                                    <input type="text" class="form-control" name="code"/>
                                </div>
                            </div>
                        </div>
                        <div class="dolphin-col-24">
                            <div class="form-group">
                                <label class="dolphin-col-6 control-label">类别名称</label>
                                <div class="dolphin-col-18">
                                    <input type="text" class="form-control" name="name"/>
                                </div>
                            </div>
                        </div>
                        <div class="dolphin-col-24">
                            <div class="form-group">
                                <label class="dolphin-col-6 control-label">条目排序</label>
                                <div class="dolphin-col-18">
                                    <input type="text" class="form-control" name="itemOrder"/>
                                </div>
                            </div>
                        </div>
                        <div class="dolphin-col-24">
                            <div class="form-group">
                                <label class="dolphin-col-6 control-label">
                                    备注
                                </label>
                                <div class="dolphin-col-18">
                                    <textarea class="form-control" name="remark"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary modelSave">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<% include ../common/footer.ejs %>
</body>
</html>