<%
const ctx = global.config.contextPath + global.config.viewPrefix,
        txt1 = "主页",txt2="起始页";
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <% include common/meta.ejs %>
    <% include common/public.ejs %>
    <style>
        .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
            height: 500px;
        }
    </style>
</head>
<body class="fix-sidebar">
<!-- Preloader -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<div id="wrapper">
    <% include common/nav.ejs %>
    <% include common/menu.ejs %>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">

            <% include common/breadcrumb.ejs %>
            <!-- .row -->
            <div class="row bg-content">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide">
                        <!-- 轮播（Carousel）指标 -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0"
                                class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>
                        <!-- 轮播（Carousel）项目 -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="/assets/plugins/images/zzia1.jpg"  alt="First slide">
                            </div>
                            <div class="item">
                                <img src="/assets/plugins/images/zzia2.jpg"   alt="Second slide">
                            </div>
                            <div class="item">
                                <img src="/assets/plugins/images/zzia3.jpg"  alt="Third slide">
                            </div>
                            <div class="item">
                                <img src="/assets/plugins/images/zzia4.jpg"  alt="fourth slide">
                            </div>
                        </div>
                        <!-- 轮播（Carousel）导航 -->
                        <a class="carousel-control left" href="#myCarousel"
                           data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel"
                           data-slide="next">&rsaquo;</a>
                    </div>
                </div>
            </div>
            <!-- .row -->
        </div>
        <!-- /.container-fluid -->
        <% include common/bottom.ejs %>
    </div>
    <!-- /#page-wrapper -->
</div>
<% include common/footer.ejs %>
</body>
</html>
